@import url('../global.css');
form {

    background-color: var(--luz-secundaria3);
    display: flex;
   flex-direction: column; 
    justify-content: center;
    gap: 10px;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
}
h1 {
    text-align: center;
}


input {
    background-color: var(--sombra-secundaria1);
    width: 80%;
    border-radius: 40px;
    font-family: var(--texto);
    color: white;
  margin-left: 10px;
}

label {
    color: white;
    padding-top: 15px;
    font-weight: bold;
      margin-left: 10px;

}