@import url('../global.css');
.layout {
  display: flex;         
  gap: 20px;              
  align-items: flex-start; 
}

.contenido-principal {
  flex: 3;   
}

.sidebar {
  flex: 1;   
}
.juego-clasificacion .valor {
  color: #ffd700;
  font-weight: 600;
}

.juego-clasificacion .votos {
  font-size: 0.9rem;
  color: #bbb;
}

.juego-publicacion .fecha,
.juego-actualizacion .fecha {
  color: #8ab4f8;
}

.texto-instruccion {
  font-weight: 500;
  margin-left: 8px;
}
.imagen-juego {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin: 15px 0;
}
.imagen-juego-contenedor {
  position: relative;
  display: inline-block;
}

.imagen-juego {
  width: 100%;
  max-width: 700px;
  border-radius: 15px;
  display: block;
}

.btn-jugar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-jugar:hover {
  background-color: #0056b3;
}
