@keyframes Scroll {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 200%;
    }
}

@keyframes afk {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1024px;
    }
}

@keyframes jump {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1152px;
    }
}

@keyframes dead{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -512px;
    }
}

.dead{
    background-image: url('../images/spritesheet/Dead.png');
    animation: dead .8s steps(4) forwards;
}

.jump{
    background-image: url('../images/spritesheet/Idle_2.png');
    animation: jump .8s steps(9) infinite;
}

.afk{
    background-image: url('../images/spritesheet/Idle.png');
    animation: afk .8s steps(8) infinite;
}

.obstaculo{
    height: 564px;
    width: 464px;
    position: absolute;
    top: 350px;
    left: 800px;
    background-image: url('../images/obstaculos/obstaculo.png');
    background-size: cover;
    z-index: 15;
}

.fisura{
    height: 128px;
    width: 128px;
    position: relative;
    top: 200px;
    left: 100px;
    scale: 2;
    z-index: 10;
}

.contenedor-parallax {
    position: absolute;
    top: 50;
    left: 35px;
    overflow: hidden;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-repeat: repeat-x;
    background-size: 200% 100%;
}

.layer1{
    background-image: url('../images/parallax/layer1.png');
    animation: Scroll 15s linear infinite;
    z-index: 1;
}

.layer2{
    background-image: url('../images/parallax/layer2.png');
    animation: Scroll 30s linear infinite;
    z-index: 2;
}

.layer3{
    background-image: url('../images/parallax/layer3.png');
    animation: Scroll 28s linear infinite;
    z-index: 3;
}

.layer4{
    background-image: url('../images/parallax/layer4.png');
    animation: Scroll 26s linear infinite;
    z-index: 4;
}

.layer5{
    background-image: url('../images/parallax/layer5.png');
    animation: Scroll 24s linear infinite;
    z-index: 5;
}

.layer6{
    background-image: url('../images/parallax/layer6.png');
    animation: Scroll 22s linear infinite;
    z-index: 6;
}

.layer7{
    background-image: url('../images/parallax/layer7.png');
    animation: Scroll 20s linear infinite;
    z-index: 7;
}

.layer8{
    background-image: url('../images/parallax/layer8.png');
    animation: Scroll 18s linear infinite;
    z-index: 8;
}

.layer9{
    background-image: url('../images/parallax/layer9.png');
    animation: Scroll 15s linear infinite;
    z-index: 9;
}
.cartelEscape{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 20;
}
.btn-jugar{
    position: absolute;
cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    z-index: 21;
    left: 250px;
    top: 200px;
}
.cartelLost{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 20;

}