@keyframes Scroll {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -200%;
    }

}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-repeat: repeat-x;
    background-size: 200% 100%;
}
.layer1{
    background-image: url('../images/parallax/layer1.png');
    animation: Scroll 20s linear infinite;
}
.layer2{
    background-image: url('../images/parallax/layer2.png');
    animation: Scroll 15s linear infinite;
}
.layer3{
    background-image: url('../images/parallax/layer3.png');
    animation: Scroll 12s linear infinite;
}
.layer5{
    background-image: url('../images/parallax/layer5.png');
    animation: Scroll 10s linear infinite;
}
.layer6{
    background-image: url('../images/parallax/layer6.png');
    animation: Scroll 8s linear infinite;
}
.layer7{
    background-image: url('../images/parallax/layer7.png');
    animation: Scroll 5s linear infinite;
}
.layer8{
    background-image: url('../images/parallax/layer8.png');
    animation: Scroll 4s linear infinite;
}
.layer9{
    background-image: url('../images/parallax/layer9.png');
    animation: Scroll 3s linear infinite;
}
